<?xml version="1.0" ?>
<robot name="tank" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI"               value="3.1415926535897931"/>

  <link name="imu_link"/>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.015" rpy="0 0 -1.57"/>
  </joint>
  

  <link name="base_footprint"/>

  <link name="base_link"></link>

  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.096" rpy="0 0 0"/>
  </joint>


  <link name="base_chaais">
    <inertial>
      <origin
        xyz="-0.0131821297878258 -1.36852279579539E-07 -0.0366815986537572"
        rpy="0 0 0" />
      <mass
        value="0.42014" />
      <inertia
        ixx="0.0020486"
        ixy="5.24229998516904E-10"
        ixz="-6.9016E-05"
        iyy="0.0028608"
        iyz="-9.0138999294091E-10"
        izz="0.0042771" />
    </inertial>
    <visual>
      <origin
        xyz="-3.51297878255043E-05 -0.00013591685227955 -0.0916865986537571"
        rpy="-4.87500874761256E-15 1.09213517986817E-29 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://mentorpi_description/meshes/tank/base_chaais.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-3.51297878255043E-05 -0.00013591685227955 -0.0916865986537571"
        rpy="-4.87500874761256E-15 1.09213517986817E-29 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://mentorpi_description/meshes/tank/base_chaais.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="base_chaais_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="base_chaais"/>
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
  </joint>



  <link name="body_board_link">
    <inertial>
      <origin
        xyz="0.019126217701236 0.0001082531477205 -0.0192743244975173"
        rpy="0 0 0" />
      <mass
        value="0.027169" />
      <inertia
        ixx="2.3983E-05"
        ixy="-3.04601560229451E-07"
        ixz="1.16970348524286E-05"
        iyy="0.000109758892619395"
        iyz="1.30858401593779E-08"
        izz="0.000112431107380605" />
    </inertial>
    <visual>
      <origin
        xyz="0.0229518530484379 -0.0001359168522795 -0.151829734399189"
        rpy="0 0 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://mentorpi_description/meshes/tank/body_board.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0229518530484379 -0.0001359168522795 -0.151829734399189"
        rpy="0 0 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://mentorpi_description/meshes/tank/body_board.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="body_board_link_to_base_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body_board_link"/>
    <origin xyz="-0.02379 0 0.0515" rpy=" 0 0 0"/>
  </joint>



  <link name="lidar_frame">
    <inertial>
      <origin rpy="0 0 0" xyz="8.65086404290248E-05 9.02624664517182E-05 -0.0183546134707293"/>
      <mass value="0.0405423044439003"/>
      <inertia ixx="4.98470777040832E-06" ixy="-1.5407626531037E-07" ixz="2.05182756187779E-09" iyy="5.03926730954594E-06" iyz="1.10062857837226E-08" izz="8.25645669795306E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mentorpi_description/meshes/tank/lidar_Link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mentorpi_description/meshes/tank/lidar_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="lidar_Joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.00168 -0.00135 0.087501"/>
    <parent link="base_link"/>
    <child link="lidar_frame"/>
    <axis xyz="0 0 0"/>
  </joint>
  

</robot>
